<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Insert template partial -->
        {% include "head-links.njk" %}

        <title>Tailwind Starter Pack!</title>
    </head>
    <body class="bg-gray-700">
        <div
            class="mx-auto px-20 pt-10">
            <!-- Insert template partial -->
            {% include "nav.njk" %}

            <h1 class="text-center text-5xl">Hello, world!</h1>
            <img class="mx-auto" src="img/malcolm.jpg" srcset="img/malcolm-800w.jpg 800w, img/malcolm-1080w.jpg 1080w, img/malcolm-1440w.jpg 1440w, img/malcolm.jpg 2000w" alt="Malcolm X smiling">
    </body>
</html>
