<ul class="flex justify-between mb-10">
    <li class="underline"><a href="#">Page 1</a></li>
    <li class="underline"><a href="#">Page 2</a></li>
    <li class="underline"><a href="#">Page 3</a></li>
    <li class="underline"><a href="#">Page 4</a></li>
</ul>